{% extends "base.html" %}

{% block content %}
<div class="content-section"><form method="POST" action="{{ url_for('iraso_koregavimas') }}">{{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Iraso {{ form.total_amount.data }} Profilis</legend>
        <div class="form-group">
            {{ form.total_amount.label(class="form-control-label") }}
            {% if form.total_amount.errors %}
                {{ form.total_amount(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.total_amount.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.total_amount(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.details.label(class="form-control-label") }}
            {% if form.details.errors %}
                {{ form.details(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.details.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.details(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.repair_status.label(class="form-control-label") }}
            {% if form.repair_status.errors %}
                {{ form.repair_status(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.repair_status.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.repair_status(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-check">
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
</form></div>
<div class="border-top pt-3">
</div>
{% endblock content %}
