{% extends 'base.html' %}

{% block content %}
{% if visi_automobiliai %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" class="text-center">Marke</th>
            <th scope="col" class="text-center">Modelis</th>
            <th scope="col" class="text-center">Variklis</th>
            <th scope="col" class="text-center">Vin numeris</th>
            <th scope="col" class="text-center">Valstybinis numeris</th>
        </tr>
    </thead>
{% for automobilis in visi_automobiliai %}<tr>
    <a href="http://127.0.0.1:5000/records/"{{automobilis.id}}><th scope="row">{{ automobilis.id }}</th></a>
    <td class="text-center"> {{ automobilis.make }} </td>
    <td class="text-center"> {{ automobilis.model }} </td>
    <td class="text-center"> {{ automobilis.engine }} </td>
    <td class="text-center"> {{ automobilis.vin_number }} </td>
    <td class="text-center"> {{ automobilis.plate_number }} </td>


</tr>{% endfor %}
</table>

{% endif %}
{% endblock content %}
